<div class="wrapper">
    <h2 class="jimFakkingNightshade">SWAG_HOME.INIT()</h2>
    <div class="switch-list">
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="pin_2">
            <input type="checkbox" id="pin_2" data-pin=2 class="mdl-switch__input" onchange="setValue(this)">
            <span class="mdl-switch__label">Epic Diode</span>
        </label>
    </div>
    <p>Made by Henrik</p>
</div>

<script>
    var internalIP = "{{{internalIP}}}";
</script>
