<div class="wrapper">
    <h2 class="jimFakkingNightshade">SWAG_HOME.INIT()</h2>
    <div class="switch-list">
        
        <div class="switch">
            <input id="cmn-toggle-1" id="pin_2" data-pin=2 class="cmn-toggle cmn-toggle-round" onchange="setValue(this)" type="checkbox">
            <label for="cmn-toggle-1"></label>
        </div>

    </div>
    <div style="height: 300px; overflow-y: scroll;" id="log">
    </div>
    <p class="footer">Made by Henrik <a target="_blank" href="https://github.com/heennkkee/home-automation/"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></p>
</div>
